body {
   background-color: #EEEEEE;
   background-size: cover;
   background-attachment: fixed;
   background-position: center center;
}
.character {
    position: relative;
}
img {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
}
img.mouth, img.face {
    z-index: 1;
}
.control-panel {
    position: relative;
    z-index: 2;
}
div#threshold-control, div#character-image-control, div#background-image-control {
    margin: 1em;
    border: 1px solid #1F1F1F;
    background-color: #EEEEEE;
}
input#threshold {
    width: 240px;
}
label.image-input-label {
    width: 12em;
    float: left;
}

